{% include "header.html" %}

<body>

  <ul class = "navbar-vertical">
    <div class="container-nav">
      <h1>Candice Hudson-Rolf</h1>
    </div>

    <li><a href="{{url_for('home')}}">About Me</a></li>
    <li><a  class="active"  href="{{url_for('photography')}}">Photography</a></li>
    <li><a href="{{url_for('enquiries')}}">Enquiries</a></li>
    <div class="navbar-icon-div">

    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

  </div>

  </ul>

  <div class="navbar-horizontal  sticky-top">

    <nav class="navbar navbar-expand-lg background-h-nav navbar-dark">
      <div class="container-fluid">
        <a class="mx-auto navbar-brand title-h-nav">Candice Hudson-Rolf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" aria-current="page" href="{{url_for('home')}}">About Me</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav active" href="{{url_for('photography')}}">Photography</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('enquiries')}}">Enquiries</a>
            </li>
            <li class="mx-auto nav-item">
              <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

              <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

  <div class="main-section">

    <div class="container-gallery gallery">

      <img class="close" src="static/assets/close4.png">

      <div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/1_9fXdzuncX.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658128896860" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Dotty_dQ3QNwmrX.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129265117" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Dottyderpy_5GWngAuIOA.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129315769" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Autumn_P4HG8Tlix.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129225918" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/AutumngateEdit_qTF6xd0ic.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129263906" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/horse_lQwNWyuG4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129313506" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/eye2t__rmJ13mJR.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129314624" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Familyshot_B1xwWJA3P.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129318627" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/horse1_qG4drWepc.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129304179" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Marnie_Sam_Hstg-CRMG.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129317297" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>



        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/horsefence_hm__7XusP.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129314924" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/marnieandleo3_9NOA4xLbK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129371467" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Rachel1_0HjIslulO.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129368652" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/Rachel2_LhlOU0Nlo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129368300" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="gallery-img" src="https://ik.imagekit.io/d6et7fwy1/scratch_fVDMBLBvT.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658129372395" alt="Candice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

      </div>

    </div>


  </div>

  <section>

  <div class="footer">
    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>
  </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="static/js/photography.js" charset="utf-8"></script>
</body>


</html>
